[submodule "fundamentos-web/sessao-01/folha-de-exercicio/recreate-ipca-home-page"]
	path = fundamentos-web/sessao-01/folha-de-exercicio/recreate-ipca-home-page
	url = git@github.com:danielarjordao/recreate-ipca-home-page.git
