body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	background-color: #2F2325;
	color: #FFF2E7;
}

h1 {
	font-size: 2rem;
	font-weight: bold;
	color: #A45A49;
}

h2 {
	font-size: 1.5rem;
	font-weight: bold;
	color: #E68E7B;
}

p {
	font-size: 1rem;
	color: #FEAFBE;
}

.c-title-page {
	color:  #EFC764;
}

.c-first-paragrath {
	color:  #FFFFFF;
}

#c-strongest-rule {
	color: #97D4D9;
}

.c-second-paragraph {
	color: #B3DFD3;
}

.container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	width: 30%;
}

.footer {
	background-color: #A45A49;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: row;
	width: 100%;
	height: 100px;
}
