.wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 200px;
	grid-gap: .5rem;

	grid-template-areas:
		"header header header header"
		"aside main main main"
		"footer footer footer footer"
	;
}

.header {
	grid-area: header;
	background-color: #8FB9A8;
}

.main {
	grid-area: main;
	background-color: #F2D388;
}

.aside {
	grid-area: aside;
	background-color: #C98474;
}

.footer {
	grid-area: footer;
	background-color: #874D93;
}
