.movies {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 30px;
    list-style: none;
    padding: 20px;
}

.movie-item {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.movie-poster {
    width: 100%; 
    max-width: 250px; 
    height: auto;
    margin: 10px 0;
    border-radius: 4px;
}

.movies-title {
    font-size: 2rem;
    margin-bottom: 5px;
}